<section class="profile-section">
    <div class="container">
      <div class="profile-card">
        <div class="profile-picture">
          <img src="../../../assets/profile.png" alt="Profile Picture">
        </div>
        <div class="profile-info">
          <h2 class="username">{{userProfile?.username}}</h2>
          <p class="email">Email: {{userProfile?.email}}</p>
          <div class="buttons">
            <button class="edit-btn" (click)="changeView()">Edit Profile</button>
          </div>
        </div>
      </div>
      <div class="edit-profile" *ngIf="wantsToEdit">
        <h2>Edit Profile</h2>
        <form [formGroup]="editForm" (submit)="onSubmit(editForm)">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" formControlName="username">
          <ng-container *ngIf="editForm.get('username')?.touched">
            <div class="error-message" *ngIf="editForm.get('username')?.hasError('required')">
              <i class="fas fa-exclamation-circle"></i>
              <span>Username is required.</span>
            </div>
            <div class="error-message" *ngIf="editForm.get('username')?.hasError('minlength')">
              <i class="fas fa-exclamation-circle"></i>
              <span>Username must be longer than {{editForm.get('username')?.getError('minlength').requiredLength}} characters</span>
            </div>
          </ng-container>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" formControlName="email" >
          <ng-container *ngIf="editForm.get('email')?.touched">
          <div class="error-message" *ngIf="editForm.get('email')?.hasError('required')">
            <i class="fas fa-exclamation-circle"></i>
            <span>Email is required.</span>
          </div>
          <div class="error-message" *ngIf="editForm.get('email')?.hasError('emailValidator')">
            <i class="fas fa-exclamation-circle"></i>
            <span>Invalid email.</span>
          </div>
        </ng-container>
          <button type="submit" [disabled]="editForm.invalid" [style]="{background: editForm.invalid ? 'grey':'#007bff'}">Save Changes</button>
        </form>
      </div>
      <div class="accounts-section">
        <h2>My Accounts</h2>
        <div class="account-box" *ngFor="let account of userProfile?.accounts">
          <i class="fas fa-money-check-alt icon" *ngIf="account.accType==='Checking'"></i>
          <i class="fas fa-piggy-bank icon" *ngIf="account.accType==='Savings'"></i>
          <div class="account-details">
            <h3 [routerLink]="['/account',account._id]">{{account.accType}}</h3>
            <p>Currency: {{account.currency}}</p>
            <p>Status: {{account.status}}</p>
            <button class="status-btn">Change Status</button>
            <p>Balance: {{account.deposit}}</p>
          </div>
        </div>
          <div class="no-accounts-div" *ngIf="userProfile?.accounts.length==0">
            <p>You currently have no accounts open.</p>
            <button routerLink="/createAccount">Open Account</button>
        </div>
      </div>
      
    </div>
  </section>
  