<section class="hero">
    <div class="container">
      <h2>Welcome to BankingPlus</h2>
      <p>Experience the convenience of modern banking with BankingPlus. Manage your finances anytime, anywhere.</p>
      <div *ngIf="!isLogged">
      <a routerLink="/user/register" class="btn" *ngIf="!isLogged">Get Started</a>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <h2>Our Services</h2>
      <div class="feature">
        <i class="fas fa-mobile-alt"></i>
        <h3>Mobile Banking</h3>
        <p>Access your accounts, transfer funds, and pay bills on the go with our mobile banking app.</p>
      </div>
      <div class="feature">
        <i class="fas fa-piggy-bank" routerLink="/account/createAccount"></i>
        <h3>Savings Accounts</h3>
        <p>Start saving for the future with our variety of savings account options.</p>
      </div>
      <div class="feature">
        <i class="fas fa-money-check-alt" routerLink="/account/createAccount"></i>
        <h3>Checking Accounts</h3>
        <p>Manage your day-to-day expenses with our convenient checking account options.</p>
      </div>
    </div>
  </section>

  <section class="testimonials" *ngIf="reviews.length>0">
    <div class="container">
      <h2>What Our Customers Say</h2>
      <div class="testimonial-slider">
      <div class="testimonial" *ngFor="let review of reviews">
        <p>{{review.text}}</p>
        <span>- {{review.name}}</span>
      </div>
      </div>
    </div>
  </section>

  <section class="review-section" *ngIf="reviews.length==0">
    <div class="container">
      <h2>Be the First to Leave a Review</h2>
      <p>Share your experience with us. Your feedback helps us improve our services.</p>
      <button class="leave-review-button" routerLink="/review">Leave a Review</button>
    </div>
  </section>

  <section class="promotions">
    <div class="container">
      <h2>Special Goal Calculator</h2>
      <p>Try our goal calculator for personalised goals</p>
      <a routerLink="/calculator" class="btn">Learn More</a>
    </div>
  </section>