<nav appResponsive>
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <div class="dropdown">
        <button class="dropbtn">Services
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a routerLink="/createAccount">Create an account</a>
            <a routerLink="/offers">Special offers</a>
            <a >Service 3</a>
        </div>
    </div>
    <a routerLink="/contact">Contact</a>
    <div *ngIf="!isLogged">
    <a routerLink="/login" class="login">Login</a>
    <a routerLink="/register" class="register">Register</a>
    <a class="icon" >
        &#9776;
    </a>
    </div>
    <div *ngIf="isLogged">
        <a routerLink="/profile" class="login">Ben's profice</a>
        <a routerLink="/register" class="register">Log out</a>
        <a class="icon" >
            &#9776;
        </a>
        </div>
</nav>

