<nav appResponsive>
    <a >Home</a>
    <a >About</a>
    <div class="dropdown">
        <button class="dropbtn">Services
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a >Service 1</a>
            <a >Service 2</a>
            <a >Service 3</a>
        </div>
    </div>
    <a >Contact</a>
    <a routerLink="/login" class="login">Login</a>
    <a routerLink="/register" class="register">Register</a>
    <a class="icon" >
        &#9776;
    </a>
</nav>

