.user-info-container,
.account-details-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.user-info-container h2,
.account-details-container h2 {
  margin-bottom: 20px;
}

.detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.value {
  font-style: italic;
}

.actions {
  margin-top: 20px;
}

.delete-btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #c82333;
}


.profile-picture {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  border-radius: 50%; /* Make the picture round */
  margin-right: 10px; /* Add spacing between picture and owner name */
}