.user-info-container,
.account-details-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.user-info-container h2,
.account-details-container h2 {
  margin-bottom: 20px;
}

.detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.value {
  font-style: italic;
}

.actions {
  margin-top: 20px;
}

.delete-btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #c82333;
}


.profile-picture {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  border-radius: 50%; /* Make the picture round */
  margin-right: 10px; /* Add spacing between picture and owner name */
}
.actions {
  display: flex;
  margin-top: 20px;
}

.action-button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
}

.deposit-button {
  margin-right: 5px; /* Adjusted margin */
  margin-left: 5px;
}

/* Primary button */
.deposit-button.mat-raised-button.mat-primary {
  background-color: #4CAF50; /* Green color */
  color: #fff; /* White text */
}

.deposit-button.mat-raised-button.mat-primary:hover {
  background-color: #45a049; /* Darker green color on hover */
}

/* Warn button */
.withdraw-button.mat-raised-button.mat-warn {
  background-color: #f44336; /* Red color */
  color: #fff; /* White text */
}

.withdraw-button.mat-raised-button.mat-warn:hover {
  background-color: #c82333; /* Darker red color on hover */
}